version: '3.7'

x-default-logging: &default
  {}

x-loki-logging: &loki
  driver: loki
  options:
    loki-url: http://localhost:3100/loki/api/v1/push
    mode: non-blocking
    max-buffer-size: 4m
    loki-retries: "3"

x-log-config: &log-config
  # update this value to *loki if needed to see logs in grafana dashboard.
  <<: *default


services:

  proxy:
    image: 'bahmni/proxy:${PROXY_IMAGE_TAG:?}'
    #volumes:
      # - ${CERTIFICATE_PATH}:/etc/tls
    ports:
      - '80:80'
      - '443:443'
    logging: *log-config
    restart: ${RESTART_POLICY}

  bahmni-config:
    image: 'bahmni/default-config:${CONFIG_IMAGE_TAG:?}'
    volumes:
      - '${CONFIG_VOLUME:?}:/usr/local/bahmni_config'
    logging: *log-config
    restart: ${RESTART_POLICY}

  openelis:
    profiles: ["openelis","bahmni-standard"]
    image: 'bahmni/openelis:${OPENELIS_IMAGE_TAG:?[ERROR]}'
    volumes:
      - "${CONFIG_VOLUME:?}:/etc/bahmni_config/:ro"
      - "bahmni-lab-results:/home/bahmni/uploaded_results"
      - "bahmni-uploaded-files:/home/bahmni/uploaded-files"
    environment:
      OPENMRS_HOST: ${OPENMRS_HOST}
      OPENMRS_PORT: ${OPENMRS_PORT:?}
      OPENMRS_ATOMFEED_USER: ${OPENMRS_ATOMFEED_USER:?}
      OPENMRS_ATOMFEED_PASSWORD: ${OPENMRS_ATOMFEED_PASSWORD:?}
      OPENELIS_DB_SERVER: ${OPENELIS_DB_SERVER}
    depends_on:
      openelisdb:
        condition: service_healthy
    logging: *log-config
    restart: ${RESTART_POLICY}

  openelisdb:
    profiles: ["openelis","bahmni-standard"]
    image: '${OPENELIS_DB_IMAGE_NAME:?[ERROR]}'
    volumes:
      - '${OPENELIS_DB_DUMP_PATH}:/resources/db-dump'
      - 'openelisdbdata:/var/lib/postgresql/data'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -h localhost -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: ${OPENELIS_DB_USER:?}
      POSTGRES_PASSWORD: ${OPENELIS_DB_PASSWORD:?}
      POSTGRES_DB: ${OPENELIS_DB_NAME:?}
    logging: *log-config
    restart: ${RESTART_POLICY}

  odoo:
    profiles: ["odoo","bahmni-standard"]
    image: 'bahmni/odoo-10:${ODOO_IMAGE_TAG:?[ERROR]}'
    ports:
      - '8069:8069'
    volumes:
      - odooappdata:/var/lib/odoo
      - ${EXTRA_ADDONS_PATH}:/mnt/extra-addons
      # # Uncomment the below volume only when you need to modify existing bahmni-addons. Also make sure to update the .env file variable with odoo-modules github repo cloned path.
      # - ${BAHMNI_ODOO_MODULES_PATH}:/opt/bahmni-erp/bahmni-addons
    depends_on:
      odoodb:
        condition: service_healthy
    environment:
      HOST: odoodb
      USER: ${ODOO_DB_USER}
      PASSWORD: ${ODOO_DB_PASSWORD}
    logging: *log-config
    restart: ${RESTART_POLICY}

  odoodb:
    profiles: ["odoo","bahmni-standard"]
    image: '${ODOO_DB_IMAGE_NAME:?[ERROR]}'
    volumes:
      - '${ODOO_DB_DUMP_PATH}:/resources/db-dump'
      - 'odoodbdata:/var/lib/postgresql/data'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -h localhost -U odoo']
      interval: 10s
      timeout: 5s
    environment:
      POSTGRES_DB: ${ODOO_DB_NAME:?}
      POSTGRES_PASSWORD: ${ODOO_DB_PASSWORD}
      POSTGRES_USER: ${ODOO_DB_USER}
    logging: *log-config
    restart: ${RESTART_POLICY}

  odoo-connect:
    profiles: ["odoo","bahmni-standard"]
    image: 'bahmni/odoo-connect:${ODOO_CONNECT_IMAGE_TAG:?[ERROR]}'
    environment:
      ODOO_DB_SERVER: odoodb
      ODOO_DB_USERNAME: ${ODOO_DB_USER:?}
      ODOO_DB_PASSWORD: ${ODOO_DB_PASSWORD:?}
      OPENMRS_HOST: ${OPENMRS_HOST:?}
      OPENMRS_PORT: ${OPENMRS_PORT:?}
      OPENMRS_ATOMFEED_USER: ${OPENMRS_ATOMFEED_USER:?}
      OPENMRS_ATOMFEED_PASSWORD: ${OPENMRS_ATOMFEED_PASSWORD:?}
      OPENELIS_HOST: ${OPENELIS_HOST:?}
      OPENELIS_PORT: ${OPENELIS_PORT:?}
      OPENELIS_ATOMFEED_USER: ${OPENELIS_ATOMFEED_USER:?}
      OPENELIS_ATOMFEED_PASSWORD: ${OPENELIS_ATOMFEED_PASSWORD:?}
      ODOO_HOST: ${ODOO_HOST:?}
      ODOO_PORT: ${ODOO_PORT:?}
      ODOO_ATOMFEED_USER: ${ODOO_ATOMFEED_USER:?}
      ODOO_ATOMFEED_PASSWORD: ${ODOO_ATOMFEED_PASSWORD:?}
    depends_on:
      odoodb:
        condition: service_healthy
    logging: *log-config
    restart: ${RESTART_POLICY}

  openmrs:
    profiles: ["emr","bahmni-standard", "bahmni-mart"]
    image: bahmni/openmrs:${OPENMRS_IMAGE_TAG:?}
    environment:
      OMRS_DB_NAME: ${OPENMRS_DB_NAME:?}
      OMRS_DB_HOSTNAME: ${OPENMRS_DB_HOST:?}
      OMRS_DB_USERNAME: ${OPENMRS_DB_USERNAME:?}
      OMRS_DB_PASSWORD: ${OPENMRS_DB_PASSWORD:?}
      OMRS_CREATE_TABLES: ${OPENMRS_DB_CREATE_TABLES}
      OMRS_AUTO_UPDATE_DATABASE: ${OPENMRS_DB_AUTO_UPDATE}
      OMRS_MODULE_WEB_ADMIN: ${OPENMRS_MODULE_WEB_ADMIN}
      # OMRS_DEV_DEBUG_PORT: ${OMRS_DEV_DEBUG_PORT}
      OMRS_JAVA_SERVER_OPTS: ${OMRS_JAVA_SERVER_OPTS}
      OMRS_JAVA_MEMORY_OPTS: ${OMRS_JAVA_MEMORY_OPTS}
      OPENELIS_HOST: ${OPENELIS_HOST:?}
      OPENELIS_PORT: ${OPENELIS_PORT:?}
      OPENELIS_ATOMFEED_USER: ${OPENELIS_ATOMFEED_USER:?}
      OPENELIS_ATOMFEED_PASSWORD: ${OPENELIS_ATOMFEED_PASSWORD:?}
      SEND_MAIL: ${SEND_MAIL}
      MAIL_TRANSPORT_PROTOCOL: ${MAIL_TRANSPORT_PROTOCOL}
      MAIL_SMTP_HOST: ${MAIL_SMTP_HOST}
      MAIL_SMTP_PORT: ${MAIL_SMTP_PORT}
      MAIL_SMTP_AUTH: ${MAIL_SMTP_AUTH}
      MAIL_SMTP_STARTTLS_ENABLE: ${MAIL_SMTP_STARTTLS_ENABLE}
      MAIL_SMTP_SSL_ENABLE: ${MAIL_SMTP_SSL_ENABLE}
      MAIL_DEBUG: ${MAIL_DEBUG}
      MAIL_FROM: ${MAIL_FROM}
      MAIL_USER: ${MAIL_USER}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
      OMRS_DOCKER_ENV: ${OPENMRS_DOCKER_ENV}
      OMRS_C3P0_MAX_SIZE: ${OMRS_C3P0_MAX_SIZE}
      OMRS_DB_EXTRA_ARGS: ${OMRS_DB_EXTRA_ARGS}
      LUCENE_MATCH_TYPE: ${LUCENE_MATCH_TYPE}
      DOCUMENT_MAX_SIZE_MB: ${DOCUMENT_MAX_SIZE_MB}
    #ports:
      # - ${OMRS_DEV_DEBUG_PORT}:${OMRS_DEV_DEBUG_PORT}
    volumes:
      - "${CONFIG_VOLUME:?}:/etc/bahmni_config/:ro"
      - "bahmni-lab-results:/home/bahmni/uploaded_results"
      - "bahmni-uploaded-files:/home/bahmni/uploaded-files"
      # - "${BAHMNI_OPENMRS_MODULES_PATH:?}/:/openmrs/data/modules/"
      - 'bahmni-patient-images:/home/bahmni/patient_images'
      - 'bahmni-document-images:/home/bahmni/document_images'
      - 'bahmni-clinical-forms:/home/bahmni/clinical_forms'
      - 'configuration_checksums:/openmrs/data/configuration_checksums'
      - 'sms-token:/openmrs/data/sms-token'
    depends_on:
      - openmrsdb
    logging: *log-config
    restart: ${RESTART_POLICY}

  openmrsdb:
    image: ${OPENMRS_DB_IMAGE_NAME:?}
    restart: always
    profiles: ["emr","bahmni-standard", "metabase", "bahmni-mart"]
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:?}
      MYSQL_DATABASE: ${OPENMRS_DB_NAME:?}
      MYSQL_USER: ${OPENMRS_DB_USERNAME:?}
      MYSQL_PASSWORD: ${OPENMRS_DB_PASSWORD:?}
    volumes:
      - 'openmrsdbdata:/var/lib/mysql'
    logging: *log-config

  metabasedb:
    image: postgres:${METABASE_POSTGRES_IMAGE_TAG:?}
    restart: on-failure:[3]
    profiles: ["metabase", "bahmni-mart"]
    environment:
      POSTGRES_DB: ${METABASE_DB_NAME:?}
      POSTGRES_USER: ${METABASE_DB_USER:?}
      POSTGRES_PASSWORD: ${METABASE_DB_PASSWORD:?}
    volumes:
      - 'metabase-data:/var/lib/postgresql/data'

  metabase:
    image: bahmni/bahmni-metabase:${METABASE_IMAGE_TAG:?}
    restart: on-failure:[3]
    profiles: ["metabase", "bahmni-mart"]
    environment:
      MB_ADMIN_EMAIL: ${METABASE_ADMIN_EMAIL:?}
      MB_ADMIN_FIRST_NAME: ${METABASE_ADMIN_FIRST_NAME:?}
      MB_ADMIN_PASSWORD: ${METABASE_ADMIN_PASSWORD:?}
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: ${METABASE_DB_NAME:?}
      MB_DB_PORT:  ${METABASE_DB_PORT:?}
      MB_DB_USER: ${METABASE_DB_USER:?}
      MB_DB_PASS: ${METABASE_DB_PASSWORD:?}
      MB_DB_HOST: ${METABASE_DB_HOST:?}
      OPENMRS_DB_HOST: ${OPENMRS_DB_HOST:?}
      OPENMRS_DB_NAME: ${OPENMRS_DB_NAME:?}
      OPENMRS_DB_USERNAME: ${OPENMRS_DB_USERNAME:?}
      OPENMRS_DB_PASSWORD: ${OPENMRS_DB_PASSWORD:?}
      MART_DB_HOST: ${MART_DB_HOST:?}
      MART_DB_NAME: ${MART_DB_NAME:?}
      MART_DB_USERNAME: ${MART_DB_USERNAME:?}
      MART_DB_PASSWORD: ${MART_DB_PASSWORD:?}
    depends_on:
     - metabasedb

  martdb:
    image: postgres:${BAHMNI_MART_DB_IMAGE_TAG:?}
    profiles: ["bahmni-mart"]
    restart: ${RESTART_POLICY}
    environment:
      POSTGRES_DB: ${MART_DB_NAME:?}
      POSTGRES_USER: ${MART_DB_USERNAME:?}
      POSTGRES_PASSWORD: ${MART_DB_PASSWORD:?}
    volumes:
      - 'mart-data:/var/lib/postgresql/data'

  mart:
    image: bahmni/bahmni-mart:${BAHMNI_MART_IMAGE_TAG:?}
    profiles: ["bahmni-mart"]
    restart: ${RESTART_POLICY}
    environment:
      CRON_TIME: ${MART_CRON_TIME:?}
      MART_DB_HOST: ${MART_DB_HOST:?}
      MART_DB_NAME: ${MART_DB_NAME:?}
      MART_DB_USERNAME: ${MART_DB_USERNAME:?}
      MART_DB_PASSWORD: ${MART_DB_PASSWORD:?}
      OPENMRS_DB_HOST: ${OPENMRS_DB_HOST:?}
      OPENMRS_DB_NAME: ${OPENMRS_DB_NAME:?}
      OPENMRS_DB_USERNAME: ${OPENMRS_DB_USERNAME:?}
      OPENMRS_DB_PASSWORD: ${OPENMRS_DB_PASSWORD:?}
    depends_on:
     - martdb
     - openmrsdb
     - openmrs
    volumes:
     - 'bahmni-clinical-forms:/home/bahmni/clinical_forms'

  bahmni-web:
    image: bahmni/bahmni-web:${BAHMNI_WEB_IMAGE_TAG:?}
    profiles: ["emr","bahmni-standard","bahmni-mart"]
    volumes:
      - "${CONFIG_VOLUME:?}:/usr/local/apache2/htdocs/bahmni_config/:ro"
    #   - "${BAHMNI_APPS_PATH:?}/ui/app/:/usr/local/apache2/htdocs/bahmni"
    #   - "${BAHMNI_APPS_PATH:?}/ui/node_modules/@bower_components/:/usr/local/apache2/htdocs/bahmni/components"
    logging: *log-config
    restart: ${RESTART_POLICY}

  implementer-interface:
    image: bahmni/implementer-interface:${IMPLEMENTER_INTERFACE_IMAGE_TAG:?}
    profiles: ["implementer-interface","emr","bahmni-standard"]
    #volumes:
    #  - "${IMPLEMENTER_INTERFACE_CODE_PATH:?}/dist:/usr/local/apache2/htdocs/implementer_interface"
    depends_on:
      - openmrs
    logging: *log-config
    restart: ${RESTART_POLICY}

  reports:
    image: bahmni/reports:${REPORTS_IMAGE_TAG:?}
    profiles: ["reports","bahmni-standard"]
    environment:
      OPENMRS_DB_HOST: ${OPENMRS_DB_HOST:?}
      OPENMRS_DB_NAME: ${OPENMRS_DB_NAME:?}
      OPENMRS_DB_USERNAME: ${OPENMRS_DB_USERNAME:?}
      OPENMRS_DB_PASSWORD: ${OPENMRS_DB_PASSWORD:?}
      OPENMRS_HOST: ${OPENMRS_HOST:?}
      OPENMRS_PORT: ${OPENMRS_PORT:?}
      OPENELIS_DB_SERVER: ${OPENELIS_DB_SERVER}
      REPORTS_DB_SERVER: reportsdb
      REPORTS_DB_NAME: ${REPORTS_DB_NAME:?}
      REPORTS_DB_USERNAME: ${REPORTS_DB_USERNAME:?}
      REPORTS_DB_PASSWORD: ${REPORTS_DB_PASSWORD:?}
      ODOO_DB_SERVER: ${ODOO_DB_HOST:?}
      ODOO_DB_NAME: ${ODOO_DB_NAME:?}
      ODOO_DB_USERNAME: ${ODOO_DB_USER:?}
      ODOO_DB_PASSWORD: ${ODOO_DB_PASSWORD:?}
    volumes:
      - "${CONFIG_VOLUME:?}:/etc/bahmni_config/:ro"
      - "bahmni-queued-reports:/home/bahmni/reports"
    depends_on:
      - reportsdb
      - openmrsdb
      - bahmni-web
    logging: *log-config
    restart: ${RESTART_POLICY}

  reportsdb:
    platform: linux/amd64
    image: mysql:5.6
    profiles: ["reports","bahmni-standard"]
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:?}
      MYSQL_DATABASE: ${REPORTS_DB_NAME:?}
      MYSQL_USER: ${REPORTS_DB_USERNAME:?}
      MYSQL_PASSWORD: ${REPORTS_DB_PASSWORD:?}
    volumes:
      - 'reportsdbdata:/var/lib/mysql'
    logging: *log-config
    restart: ${RESTART_POLICY}

  patient-documents:
    image: 'bahmni/patient-documents:${PATIENT_DOCUMENTS_TAG:?}'
    profiles: ["emr","bahmni-standard"]
    volumes:
      - 'bahmni-document-images:/usr/share/nginx/html/document_images'
      - 'bahmni-lab-results:/usr/share/nginx/html/uploaded_results'
      - "bahmni-uploaded-files:/usr/share/nginx/html/uploaded-files"
    environment:
      - OPENMRS_HOST=${OPENMRS_HOST:?}
    depends_on:
      - openmrs
    logging: *log-config
    restart: ${RESTART_POLICY}

  appointments:
    image: bahmni/appointments:${APPOINTMENTS_IMAGE_TAG:?}
    profiles: ["emr","bahmni-standard"]
    restart: ${RESTART_POLICY}
    # volumes:
    # - "${APPOINTMENTS_PATH:?}/dist/:/usr/local/apache2/htdocs/appointments"

  dcm4chee:
    image: bahmni/dcm4chee:${DCM4CHEE_IMAGE_TAG:?}
    profiles: ["pacs","bahmni-standard"]
    environment:
      DB_HOST: ${PACS_DB_HOST:?}
      DB_PORT: ${PACS_DB_PORT:?}
      DB_NAME: ${DCM4CHEE_DB_NAME:?}
      DB_USERNAME: ${DCM4CHEE_DB_USERNAME:?}
      DB_PASSWORD: ${DCM4CHEE_DB_PASSWORD:?}
    ports:
      - '8055:8055'
      - '11112:11112'
    volumes:
      - 'dcm4chee-archive:/var/lib/bahmni/dcm4chee/server/default/archive'
    logging: *log-config
    restart: ${RESTART_POLICY}

  pacs-integration:
    image: bahmni/pacs-integration:${PACS_INTEGRATION_IMAGE_TAG:?}
    profiles: ["pacs","bahmni-standard"]
    environment:
      DB_HOST: ${PACS_DB_HOST:?}
      DB_PORT: ${PACS_DB_PORT:?}
      DB_NAME: ${PACS_INTEGRATION_DB_NAME:?}
      DB_USERNAME: ${PACS_INTEGRATION_DB_USERNAME:?}
      DB_PASSWORD: ${PACS_INTEGRATION_DB_PASSWORD:?}
      OPENMRS_HOST: ${OPENMRS_HOST:?}
      OPENMRS_PORT: ${OPENMRS_PORT:?}
      OPENMRS_ATOMFEED_USER: ${OPENMRS_ATOMFEED_USER:?}
      OPENMRS_ATOMFEED_PASSWORD: ${OPENMRS_ATOMFEED_PASSWORD:?}
    logging: *log-config
    restart: ${RESTART_POLICY}

  pacsdb:
    image: postgres:9.6
    profiles: ["pacs","bahmni-standard"]
    environment:
      POSTGRES_PASSWORD: ${PACS_DB_ROOT_PASSWORD}
      DCM4CHEE_DB_NAME: ${DCM4CHEE_DB_NAME:?}
      DCM4CHEE_DB_USERNAME: ${DCM4CHEE_DB_USERNAME:?}
      DCM4CHEE_DB_PASSWORD: ${DCM4CHEE_DB_PASSWORD:?}
      PACS_INTEGRATION_DB_NAME: ${PACS_INTEGRATION_DB_NAME:?}
      PACS_INTEGRATION_DB_USERNAME: ${PACS_INTEGRATION_DB_USERNAME:?}
      PACS_INTEGRATION_DB_PASSWORD: ${PACS_INTEGRATION_DB_PASSWORD:?}
    volumes:
      - '${PWD}/init_pacs_dbs.sh:/docker-entrypoint-initdb.d/init_pacs_dbs.sh'
      - 'pacsdbdata:/var/lib/postgresql/data'
    logging: *log-config
    restart: ${RESTART_POLICY}

  pacs-simulator:
    image: bahmni/pacs-simulator:${PACS_SIMULATOR_IMAGE_TAG:?}
    profiles: ["pacs-simulator"]
    environment:
      PACS_SIMULATOR_TIMEOUT: ${PACS_SIMULATOR_TIMEOUT:?}
      PACS_SERVER_TYPE: ${PACS_SERVER_TYPE:?}
      PACS_SERVER_URL: ${PACS_SERVER_URL:?}
      UPDATE_PACS_INTEGRATION_DB: ${UPDATE_PACS_INTEGRATION_DB:?}
      PACS_INTEGRATION_DB_HOST: ${PACS_DB_HOST:?}
      PACS_INTEGRATION_DB_PORT: ${PACS_DB_PORT:?}
      PACS_INTEGRATION_DB_NAME: ${PACS_INTEGRATION_DB_NAME:?}
      PACS_INTEGRATION_DB_USERNAME: ${PACS_INTEGRATION_DB_USERNAME:?}
      PACS_INTEGRATION_DB_PASSWORD: ${PACS_INTEGRATION_DB_PASSWORD:?}
    logging: *log-config
    restart: ${RESTART_POLICY}


  atomfeed-console:
    image: bahmni/atomfeed-console:latest
    profiles: ["atomfeed-console"]
    restart: ${RESTART_POLICY}
    environment:
      OPENMRS_DB_HOST: ${OPENMRS_DB_HOST}
      OPENMRS_DB_NAME: ${OPENMRS_DB_NAME}
      OPENMRS_DB_USERNAME: ${OPENMRS_DB_USERNAME}
      OPENMRS_DB_PASSWORD: ${OPENMRS_DB_PASSWORD}
      ODOO_DB_HOST: ${ODOO_DB_HOST}
      ODOO_DB_NAME: ${ODOO_DB_NAME}
      ODOO_DB_USER: ${ODOO_DB_USER}
      ODOO_DB_PASSWORD: ${ODOO_DB_PASSWORD}
      OPENELIS_DB_HOST: ${OPENELIS_DB_HOST}
      OPENELIS_DB_USER: ${OPENELIS_DB_USER}
      OPENELIS_DB_PASSWORD: ${OPENELIS_DB_PASSWORD}
      PACS_INTEGRATION_DB_HOST: ${PACS_DB_HOST}
      PACS_INTEGRATION_DB_NAME: ${PACS_INTEGRATION_DB_NAME}
      PACS_INTEGRATION_DB_USERNAME: ${PACS_INTEGRATION_DB_USERNAME}
      PACS_INTEGRATION_DB_PASSWORD: ${PACS_INTEGRATION_DB_PASSWORD}

  sms-service:
    image: bahmni/sms-service:${SMS_SERVICE_IMAGE_TAG:?}
    profiles: ["sms"]
    restart: ${RESTART_POLICY}
    environment:
      SMS_TOKEN: ${SMS_TOKEN}
      SMS_ORIGINATOR: ${SMS_ORIGINATOR}
      SMS_PROVIDER_API: ${SMS_PROVIDER_API}
      SMS_OPENMRS_HOST: ${OPENMRS_HOST:?}
      SMS_OPENMRS_PORT: ${OPENMRS_PORT:?}
      SMS_COUNTRY_CODE: ${SMS_COUNTRY_CODE}
    volumes:
      - 'sms-token:/opt/tokens'

  restore_volumes:
    image: bash:5.2.15
    profiles: ["restore"]
    command: "bash /restore_docker_volumes.sh"
    volumes:
        - "${RESTORE_ARTIFACTS_PATH}:/restore-artifacts"
        - '../backup_restore/restore_docker_volumes.sh:/restore_docker_volumes.sh'
        - 'bahmni-patient-images:/mounts/bahmni-patient-images'
        - 'bahmni-document-images:/mounts/bahmni-document-images'
        - 'bahmni-clinical-forms:/mounts/bahmni-clinical-forms'
        - 'bahmni-lab-results:/mounts/bahmni-lab-results'
        - 'bahmni-queued-reports:/mounts/bahmni-queued-reports'
        - 'bahmni-uploaded-files:/mounts/bahmni-uploaded-files'
        - 'dcm4chee-archive:/mounts/dcm4chee-archive'
        - 'configuration_checksums:/mounts/configuration_checksums'

volumes:
  openelisdbdata:
  odoodbdata:
  odooappdata:
  openmrs-data:
  openmrsdbdata:
  metabase-data:
  mart-data:
  bahmni-patient-images:
  bahmni-document-images:
  bahmni-clinical-forms:
  dcm4chee-archive:
  bahmni-config:
  bahmni-lab-results:
  bahmni-uploaded-files:
  configuration_checksums:
  sms-token:
  bahmni-queued-reports:
  reportsdbdata:
  pacsdbdata:
